<div class="row">
    <div class="col-auto col-md-auto col-lg-auto col-xl-auto">
        <h2 class="mb-0 text-center text-sm-center">Bonjour !</h2>
    </div>
</div>
<div class="row mb-2">
    <div class="col col-md-auto col-lg-auto col-xl-auto">
        <h2>Je suis un développeur Fullstack</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="col col-md-auto col-lg-auto col-xl-auto">
        <h1>
            <span class="header-text">Je m'appelle</span><br>
            Tony Ferrere<br>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary cv">Mon C.V</button>
    </div>
</div>
<hr class="my-4">

<div class="row">
    <div class="col">
        <i class="fa fa-linkedin fa-3x mr-2"></i>
        <i class="fa fa-github-square fa-3x ml-2"></i>
    </div>
</div>
<!-- <div class="row">
    <div class="col-auto col-md-auto col-lg-auto col-xl-auto">
        <h1 class="mb-0 text-center">TONY <span class="text-primary">FERRERE</span></h1>
    </div>
</div>
<div class="row subtitle mb-5">
    <div class="col">
        100 rue Dalayrac, 94120 Fontenay-sous-Bois -
        <span class="text-secondary">tony.ferrere@hotmail.fr</span>
    </div>
</div>
<div class="row mb-0">
    <div class="col-auto col-md-10 col-lg-10 col-xl-10">
        <p class="text-wrap text-justify lead font-weight-bold ">
            Bonjour à tous et bienvenue sur mon IPortofolio !
            Je suis un jeune développeur passionné par les métiers de l'informatique.<br/>
            Faire de sa passion un métier est un bon moyen de s'épanouir autant personnellement que professionnelement.
            C'est pourquoi je me suis spécialisé dans les technologies du web, sujet qui me passionne depuis de nombreuses années.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <span><img class="img-fluid" src="assets/img/logoMiage.png" alt="logo de la miage" /></span>
    </div>   
    <div class="col-6 col-sm-8 col-md-6 col-lg-6 col-xl-6">
        <p class="text-wrap text-justify lead font-weight-bold">
            Avec un diplome de <b>Master MIAGE </b>(Méthodes Informatiques Appliquées à la Gestion des Entreprises) option Ingénierie de la Transformation Numérique obtenu en 2019.<br/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-auto col-md-10 col-lg-10 col-xl-10">
        <p class="text-wrap text-justify lead font-weight-bold">    
            Je suis maintenant à la recherche de nouvelles opportunités dans le domaine du web.<br/>
            Si vous recherchez une personne sérieuse, dynamique, motivée et n'ayant pas peur de s'investir sur un projet.<br/>
            N'hésitez pas à me contacter ! 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-auto col-md-10 col-lg-10 col-xl-10">
        <p class="text-wrap text-justify lead font-weight-bold">
            Je vous invite en attendant à en apprendre davantage sur moi en visitant mon IPortofolio. Bonne visite !
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="social-icons">
            <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</div> -->