p {
    text-align: justify;
}

h1 {
    font: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
}
h1 span.header-text {
    font-size: 28px;
}
button.cv {
    width: 100px;
}
h2 {
    font: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
}

.text-primary {
    color: #133b5c !important;
}