<div class="row">
    <div class="col">
        <h1>Mon Parcours</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            Chaque parcours de formation est unique, l'obtention d'une liste de diplome ne reflète pas forcément le "<b>parcours</b>" qu'on a suivi.<br/>
            Mon objectif a toujours été de rester dans le milieu informatique.
        </p>
        <p>
            Après l'obtention de mon Bac, je me suis dirigé vers une 1ère année d'IUT. Cette année ne fut pas concluante pour moi. <br/>
            La culture de l'<b>échec</b> est encore très mal vu en France, alors qu'en soi un échec peut-être enrichissant et permet dans la majorité des cas de tirer de forte leçon.<br/>
            Malgré mon échec à l'IUT, je ne me suis pas résigné et je suis maintenant diplomé d'un BAC+5 avec un seul objectif en tête : <b>Réussir</b>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr/>
        <h2>La MIAGE</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li>
                Analyse, Conception, Urbanisation, Gestion de projet, Audit
            </li>
            <li>
                Développement Web, bases de données relationnelles et NoSql
            </li>  
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>BTS SIO - Services Informatiques aux Organisations</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li>
                Langages Objets (JAVA) 
            </li>
            <li>
                développement Web (PHP5 & MySql)
            </li>  
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>1ère année IUT | L1 informatique</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li>
                Compétences informatiques, initiation algorithmique, esprit d'analyse
            </li>
        </ul>
    </div>
</div>