<div class="row">
    <div class="col text-center mb-2">
        <h2>Mon Savoir-faire</h2>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p>
            J'ai toujours été attiré par le monde du développement web. Les technologies du web évoluant très rapidement, 
            j'ai donc décidé de me focaliser sur quelques technologies afin de répondre au mieux aux nouveaux challenges que je pourrais rencontrer.
        </p>
    </div>
</div>

<div class="jumbotron mt-2">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>Niveau Intermédiaire</h2>
            <p>Ce niveau correspond pour moi a un niveau d'autonomie sur des projets utilisant ces technologies.
                <br/>Un niveau opérationnel mais perfectible. Peut se référer à un profil plus senior sur certains points.
            </p>
            <hr class="my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-2 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-3 mr-2 border rounded">
            <img src="assets/img/angular.png"  class="d-block mt-3 mx-auto w-50" alt="...">
        </div>
        <div class="col-2 mr-2 border rounded">
            <img src="assets/img/bootstrap.png"  class="d-block mt-3 mx-auto w-50" alt="...">
        </div>
        <div class="col-3 mr-2 border rounded">
            <img src="assets/img/html.png"  class="d-block mt-3 mx-auto w-75" alt="...">
        </div>
        
    </div>
    <div class="row mt-3">
        <div class="col-2 offset-2 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-3 border mr-2">
            <img src="assets/img/nodejs.png"  class="d-block mt-2 mx-auto w-75" alt="...">
        </div>
        <div class="col-2 border mr-2 rounded">
            <img src="assets/img/java.jpg"  class="d-block mt-2 mx-auto w-75" alt="...">
        </div>
        <div class="col-2 border mr-2 rounded">
            <img src="assets/img/spring.png"  class="d-block mt-4 mx-auto w-75" alt="...">
        </div>
        <div class="col-2 border rounded">
            <img src="assets/img/php.jpg"  class="d-block mt-2 mx-auto w-50" alt="...">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-2 offset-2 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-3 border rounded">
            <img src="assets/img/mysql.png"  class="d-block mt-4 mx-auto w-100" alt="...">
        </div>
        <div class="col-2 border rounded">
            <img src="assets/img/pgsql.png"  class="d-block mt-2 mx-auto w-75" alt="...">
        </div>
        <div class="col-2 border rounded">
            <img src="assets/img/mongodb.png"  class="d-block mt-4 mx-auto w-100" alt="...">
        </div>
    </div>
</div>

<div class="jumbotron">

    <div class="row">
        <div class="col">
            <h2>Niveau Débutant</h2>
            <p>
                Ce niveau correspond pour moi a une familiarisation avec les principes de bases.
            </p>
            <hr class="my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-3 border">
            <img src="assets/img/react.png"  class="d-block mt-2 mx-auto w-75" alt="...">
        </div>
        <div class="col-2 border">
            <img src="assets/img/vue.png"  class="d-block mt-2 mx-auto w-75" alt="...">
        </div>
        <div class="col-2 border">
            <img src="assets/img/neo.png"  class="d-block mt-4 mx-auto w-75" alt="...">
        </div>
    </div>

</div>
