<div class="row">
    <div class="col text-center mb-2">
        <h2>Mes Experiences</h2>
        <hr/>
    </div>
</div>
<div class="experience">
    <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h3>Programmes Vacances Travail en Australie</h3>
                <h4><i>Octobre 2019 - Mai 2020</i></h4>
                <img src="assets/img/australie.jpg"  class="d-block w-75 mx-auto" alt="...">
                <p>
                    Après l'obtention de mon diplome de Miagiste, j'ai décidé de partir un an à l'étranger.
                    <br/> Le but était de sortir de ma zone de confort et de découvrir une nouvelle façon de vivre.
                </p>
                <h3>As-tu travaillé dans l'informatique en Australie ?</h3>
                <p class="text-justify">
                    Avec mon type de VISA à durée déterminée, il était vraiment difficile de travailler sur un nouveau projet informatique.
                    <br/>Les entreprises préférant recruter des ressources durable sur lesquelles ils peuvent investir sereinement sur de plus longue période.
                    <br/>Néanmoins ne pas travailler dans un domaine que je connaissais fut une vrai épreuve pour moi, surtout dans une langue que je ne maitrisais pas totalement.
                    Que ce soit en tant que vendeur ou de mon travail dans une réserve aborigène. J'ai vraiment la sensation que ces expériences m'ont permises d'avancer tant sur le plan personnel que professionnel.
                </p>
            </div>
            <div class="carousel-item">
                <h3>Concepteur développeur en alternance</h3>
                <h4><i>Septembre 2017 - Septembre 2019</i></h4>
                <img src="assets/img/acoss.png" class="d-block w-75 mx-auto" alt="...">
                <h4>Contexte du projet : </h4>
                <ul>
                    <li>
                        Migration application JAVA RCP vers Angular 7
                    </li>
                    <li>
                        Recueil du besoin, choix et proposition d'une solution
                    </li>
                    <li>
                        Animation de réunion, synthèse & maquettage
                    </li>
                </ul>
                
            </div>
            <div class="carousel-item">
                <h2>Informaticien d'application</h2>
                <h4><i>Décembre 2015 - Aout 2017</i></h4>
                <img src="assets/img/support.png" class="d-block w-50 mx-auto" alt="...">
                <h4>Points clés de la mission : </h4>
                <ul>
                    <li>
                        Assistance de niveau 3, requête PL/SQL, Redmine
                    <li>
                        Qualité rédactionnelle et relationnelle (écoute active)
                    </li>
                    <li>
                        Rédaction de dossier de spécifications fonctionnelles
                    </li>
                </ul>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>