<div class="row">
    <div class="col text-center mb-2">
        <h2>A propos de moi</h2>
        <hr/>
    </div>
</div>
<div class="row mb-0">
    <div class="col-auto col-md-10 col-lg-10 col-xl-12">
        <p class="text-wrap text-justify">
            Bienvenue sur mon IPortofolio !
            Je suis un jeune développeur passionné par les métiers de l'informatique.<br/>
            Faire de sa passion un métier est un bon moyen de s'épanouir autant personnellement que professionnelement.
            C'est pourquoi je me suis spécialisé dans les technologies du web, sujet qui me passionne depuis de nombreuses années.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-6 col-sm-8 col-md-6 col-lg-8 col-xl-8">
        <p class="text-wrap text-justify">
            Avec un diplome de <b>Master MIAGE </b>(Méthodes Informatiques Appliquées à la Gestion des Entreprises) option Ingénierie de la Transformation Numérique obtenu en 2019.<br/>
        </p>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <span><img class="img-fluid" src="assets/img/logoMiage.png" alt="logo de la miage" /></span>
    </div>   
</div>
<div class="row">
    <div class="col-auto col-md-10 col-lg-12 col-xl-12">
        <p class="text-wrap text-justify">    
            Je suis maintenant à la recherche de nouvelles opportunités dans le domaine du web.<br/>
            Si vous recherchez une personne sérieuse, dynamique, motivée et n'ayant pas peur de s'investir sur un projet.<br/>
            N'hésitez pas à me contacter ! 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-auto col-md-10 col-lg-12 col-xl-12">
        <p class="text-wrap text-justify">
            Je vous invite en attendant à en apprendre davantage sur moi en visitant mon IPortofolio. Bonne visite !
        </p>
    </div>
</div>