<div class="row">
    <div class="col text-center mb-2">
        <h2>Mes projets</h2>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
        <img src="assets/img/unity.png" class="card-img-top w-75" alt="...">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
        <img src="assets/img/lc.png" class="card-img-top w-50" alt="...">
    </div>
</div>

<div class="row mt-2">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2 d-flex justify-content-start">
        <div class="card" style="width: 24rem;">
            <img src="assets/img/beat.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Projet Unity 2D</h5>
                <p class="card-text">Voici mon tout premier jeu en scrolling 2D. Développé avec le moteur Unity et le langage objet C#</p>
                <a href="#" class="btn btn-primary">Play</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2 d-flex justify-content-end"> 
        <div class="card" style="width: 24rem;">
            <img src="assets/img/beat.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Banana Games</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Visiter</a>
            </div>
        </div>

    </div>
</div>


<div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 d-flex justify-content-around">
        <div class="card" style="width: 24rem;">
            <img src="assets/img/beat.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Projet Unity 3D</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Play</a>
            </div>
        </div>
    </div>
</div>

