.content {
    background: url(/assets/img/backgroundIT.jpg) 100%;
    background-color: red;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .skills {
        display: flex;
        justify-content: space-between;
        img {
            width: auto;
            height: 256px;
        }
    }
}