<div class="center-container">
    <div class="container">
      <div class="header">
        <div class="content-header">
          <app-image-display></app-image-display>
        </div>  
        <div class="header-left">
          <div class="flexible">
            <h4>Tony:Ferrere</h4>
            <span class="smally">28ans</span>
          </div>
          <span>Développeur frontend</span>
          <span>{{ now }}</span>
          <fa-icon [icon]="faWifi"></fa-icon>
          <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
        </div>  
      </div>
    
      <div class="container-center">
        <!-- <h1>TITLE PART WITH BINDING OF COURSE</h1> -->
        <div class="block">
          <app-square-display></app-square-display>
        </div>
        <router-outlet></router-outlet>
      </div>
    
      <div class="round-menu">
        <div class="circle-chips">
          
        </div>
        <div class="circle-chips">
            <a routerLink="skills" routerLinkActive="active">
                <h3>Skills</h3>
            </a>
        </div>
        <div class="circle-chips">
            <a routerLink="experiences" routerLinkActive="active">
                <h3>Experiences</h3>
            </a>
        </div>
        <div class="circle-chips">
    
        </div>
        <div class="circle-chips">
    
        </div>
        <div class="circle-chips">
    
        </div>
      </div>
    
      <div class="footer">
        <h2>A propos</h2>
        <h2>Me contacter</h2>
      </div>
    
    </div>
  </div>